.pg-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
}

.bg-image {
    content: " ";
    position: absolute;
    width: 50vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: 2s;
}

.bg-image::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: #0006;
}

.bg-right {
    right: 0;
}

.bg-left {
    left: 0;
}

.pg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.route-select {
    display: flex;
    padding: 5px;
    border-radius: 15px;
    border: 5px solid white;
    gap: 15px;
}

.route-option {
    font-family: inherit;
    background-color: transparent;
    padding: 10px;
    border: none;
    font-size: 18px;
    color: white;
}

.route-option:focus {
    outline: none;
}

.dock-option {
    color: black;
}

.pg-label {
    color: white;
}

.route-option:active {
    outline: none;
}

.pg-num-inp {
    border-radius: 10px;
    padding: 12px;
    border: 5px solid white;
    color: white;
    background-color: transparent;
    width: 45px;
    font-size: 20px;
}

.black {
    color: #000;
    border: 5px black solid;
}

.light {
    color: white;
    border: 5px white solid;
}

.pg-button {
    margin-top: 25px;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 400ms;
}

.pg-button:hover {
    border: 5px coral solid;
    color: coral;
}

.pg-num-inp:focus {
    outline: none;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.result h2 {
    color: coral;
}

.viajes {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    column-gap: 15px;
    max-height: 100%;
}

.trip {
    border-radius: 15px;
    border: 1px coral solid;
    display: grid;
    width: 60vw;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 150px;
    overflow: hidden;
    cursor: pointer;
}

.trip ul {
    margin: 0;
    padding: 20px 35px;
}

.trip li {
    list-style: none;
    text-indent: none;
}

.trip img {
    width: 100%;
}

.result .pg-button {
    border-width: 1px;
}

.pg-pay {
    grid-column: 2;
    display: flex;
    justify-content: end;
}

.pg-pay.pg-button {
    margin: 0;
    border-radius: 0;
    padding: 10px;
    background-color: coral;
    color: white;
    text-align: center;
    border: none;
}

.pg-info {
    display: flex;
    align-items: center;
    grid-column: 0;
}

.pg-info ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.pg-ext {
    grid-template-rows: 150px 50px;
}