:root {
    --auth-image: url('/res/img/pexels-pixabay-163872.jpg');
}

@font-face {
    font-family: Poppins;
    src: url('/res/font/Poppins-Regular.ttf');
}


.scr-container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

body {
    margin: 0;
    font-family: Poppins;
}